@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.topo{
    height: 69px;
    width: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.topo span{
    font-weight: 700;
    font-size: 34px;
    color: #ffffff;
    cursor: pointer;
}

.conteudo {
    margin-top: 69px;
}

.tela1 {
    margin-top: 146px;
}

.criarQuizz {
    height: 181px;
    width: 1051px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px dashed #D5D5D5;
    background-color: #fafafa;
    margin: 77px auto 112px;
}

.criarQuizz :nth-child(2){
    cursor: pointer;
}

.criarQuizz p {
    height: 107px;
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.criarQuizz div {
    height: 40px;
    width: 136px;
    color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #EC362D;
    border-radius: 50px;    
}

.seusQuizzes {
    height: 217px;
    width: 1050px;
    margin: 69px auto 48px;
}

.seusQuizzes :nth-child(1){
    display: flex;
}

.seusQuizzes p {
    height: 23px;
    width: 158px;
    font-weight: 700;
    font-size: 20px;
}

.seusQuizzes span{
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0px 10px 7px;
    line-height: 22px;
}

.seusQuizzes ion-icon {
    height: 25px;
    width: 25px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #EC362D;

}

.todosQuizzes{
    width: 1051px;
    margin: 0 auto;
}

.todosQuizzes p{
    height: 23px;
    width: 158px;
    font-weight: 700;
    font-size: 20px;
}

.galeria {
    height: 381px;
    width: 1051px;
    margin-top: 13px;
    display: flex;
    
}

.galeria div{
    height: 181px;
    width: 340px;
    background-color: azure;
    margin-right: 15px;
}

.galeria img{
    height: 181px;
    width: 340px;
}

.galeria span{
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0px 10px 7px;
    line-height: 22px;
}

.quizz1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(${arrayQuizzes[i].image});
    background-size: cover;
}

.quizz2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(/Img/preguica.png);
    background-size: cover;
}

.quizz3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(/Img/simpsons.png);
    background-size: cover;
}

.escondido {
    display: none;
}

.topoQuizz {
    height: 227px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url(/Img/harrypotter.png);
}

.topoQuizz span {
    height: 54px;
    width: 1051px;
    font-weight: 400;
    font-size: 39px;
    text-align: center;
    color: #ffffff;
}

.bannerQuizz {
    width: 100%;
    height: 227px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerQuizz img {
    width: 100%;
    height: 227px;
    object-fit:cover;
    filter: brightness(40%);
}

.bannerQuizz p {
    font-weight: 400;
    font-size: 39px;
    line-height: 45px;
    color: #FFFFFF;
    position: absolute;
}

.quizzPergunta {
    width: 759px;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin: 42px auto auto;
}

.pergunta {
    width: 100%;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pergunta p {
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.quizzPergunta .opcoes {
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.quizzPergunta .opcao {
    margin-top: 20px;
}

.quizzPergunta .opcao img {
    width: 329px;
    height: 175px;
    object-fit: cover;
}

.quizzPergunta .opcao p {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}