@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    padding-bottom: 85px;
}

* {
    box-sizing: border-box;
}

img {
    object-fit:cover;
}

.topo{
    height: 69px;
    width: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.topo span{
    font-weight: 700;
    font-size: 34px;
    color: #ffffff;
    cursor: pointer;
}

.conteudo {
    margin-top: 69px;
}

.tela1 {
    margin-top: 146px;
}

.criarQuizz {
    height: 181px;
    width: 1051px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px dashed #D5D5D5;
    background-color: #fafafa;
    margin: 77px auto 112px;
}

.criarQuizz :nth-child(2){
    cursor: pointer;
}

.criarQuizz p {
    height: 107px;
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.criarQuizz div {
    height: 40px;
    width: 136px;
    color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #EC362D;
    border-radius: 50px;    
}

.seusQuizzes {
    height: 217px;
    width: 1050px;
    margin: 69px auto 48px;
}

.seusQuizzes :nth-child(1){
    display: flex;
}

.seusQuizzes p {
    height: 23px;
    width: 158px;
    font-weight: 700;
    font-size: 20px;
}

.seusQuizzes span{
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0px 10px 7px;
    line-height: 22px;
}

.seusQuizzes ion-icon {
    height: 25px;
    width: 25px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #EC362D;

}

.todosQuizzes{
    width: 1051px;
    margin: 0 auto;
}

.todosQuizzes p{
    height: 23px;
    width: 158px;
    font-weight: 700;
    font-size: 20px;
}

.galeria {
    height: 381px;
    width: 1051px;
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
}

.galeria div{
    height: 181px;
    width: 340px;
    background-color: azure;
    margin-right: 10px;
    margin-bottom: 13px;
}

.galeria img{
    height: 181px;
    width: 340px;
}

.galeria span{
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin: 0px 10px 7px;
    line-height: 22px;
    position: absolute;
}

.degrade {
    height: 181px;
    width: 340px;
    position: absolute;
    background-color: #EC362D;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.quizz1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    box-shadow: inset 0px -25px 37px -11px #000000;
    
}

.quizz2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: relative;
}



.quizz3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(/Img/simpsons.png);
    background-size: cover;
}

.escondido {
    display: none;
}

.topoQuizz {
    height: 227px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url(/Img/harrypotter.png);
}

.topoQuizz span {
    height: 54px;
    width: 1051px;
    font-weight: 400;
    font-size: 39px;
    text-align: center;
    color: #ffffff;
}

.bannerQuizz {
    width: 100%;
    height: 227px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerQuizz img {
    width: 100%;
    height: 227px;
    filter: brightness(40%);
}

.bannerQuizz p {
    font-weight: 400;
    font-size: 39px;
    line-height: 45px;
    color: #FFFFFF;
    position: absolute;
}

.quizzPergunta {
    width: 759px;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    padding: 18px;
    margin: 42px auto auto;
}

.perguntas {
    width: 688px;
    height: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px auto 0;
}

.perguntas p {
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.quizzPergunta .opcoes {
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 12px;
}

.quizzPergunta .opcao {
    margin-top: 20px;
    box-shadow: inset 0px -25px 37px -11px #000000;
}

.quizzPergunta .opcao img {
    width: 329px;
    height: 175px;
}

.quizzPergunta .opcao p {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.opcao-nao-selecionada {
    opacity: 0.3;
}

.quizzPergunta .opcao-validada p {
    color: #FF4B4B;
}

.quizzPergunta .opcao-correta  p {
    color: #009C22;
}

.caixa-resultado > div {
    background-color: #EC362D;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.caixa-resultado .caixa-conteudo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    margin-top: 20px;
}

.caixa-conteudo img {
    width: 364px;
    height: 273px;
}

.caixa-conteudo p {
    font-weight: 700;
    font-size: 19px;
    color: #484848;
    margin-left: 21px;
}

.tela3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 140px auto 27px;
}

.tela3 span {
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 27px;
}

.infoBasicas {
    height: 256px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.infoBasicas input {
    height: 46px;
    width: 564px;
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    color:#BABABA;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 24px;
}

.prosseguirPerguntas {
    height: 54px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 87px;
    background-color: #EC362D;   
}

.prosseguirPerguntas p {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}
